<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("RGSession Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>RGSession Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>scanner</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scanner")</TD></TR>
							<TR><TD>scanner/manufacturer</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scanner/manufacturer")</TD></TR>
							<TR><TD>scanner/model</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scanner/model")</TD></TR>
							<TR><TD>operator</TD><TD>$!item.getStringProperty("xnat:rgSessionData/operator")</TD></TR>
							<TR><TD>prearchivePath</TD><TD>$!item.getStringProperty("xnat:rgSessionData/prearchivePath")</TD></TR>
							<TR><TD>dcmAccessionNumber</TD><TD>$!item.getStringProperty("xnat:rgSessionData/dcmAccessionNumber")</TD></TR>
							<TR><TD>dcmPatientId</TD><TD>$!item.getStringProperty("xnat:rgSessionData/dcmPatientId")</TD></TR>
							<TR><TD>dcmPatientName</TD><TD>$!item.getStringProperty("xnat:rgSessionData/dcmPatientName")</TD></TR>
							<TR><TD>dcmPatientBirthDate</TD><TD>$!item.getProperty("xnat:rgSessionData/dcmPatientBirthDate")</TD></TR>
							<TR><TD>session_type</TD><TD>$!item.getStringProperty("xnat:rgSessionData/session_type")</TD></TR>
							<TR><TD>modality</TD><TD>$!item.getStringProperty("xnat:rgSessionData/modality")</TD></TR>
							<TR><TD>UID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/UID")</TD></TR>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("xnat:rgSessionData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("xnat:rgSessionData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("xnat:rgSessionData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("xnat:rgSessionData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("xnat:rgSessionData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("xnat:rgSessionData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("xnat:rgSessionData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:rgSessionData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("xnat:rgSessionData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:rgSessionData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:rgSessionData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_regionResource_1_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/regions/region").size() - 1)
							#if($xnat_regionResource_1_NUM_ROWS>=0)
								#foreach($xnat_regionResource_1_COUNTER in [0..$xnat_regionResource_1_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>creator/firstname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/creator/firstname")</TD></TR>
													<TR><TD>creator/lastname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/creator/lastname")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/name")</TD></TR>
													<TR><TD>hemisphere</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/hemisphere")</TD></TR>
													<TR><TD>session_id</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/session_id")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/note")</TD></TR>
																<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/label")</TD></TR>
																<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/file_count")</TD></TR>
																<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/file_size")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($xnat_abstractResource_tag_3_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag").size() - 1)
																#if($xnat_abstractResource_tag_3_NUM_ROWS>=0)
																	#foreach($xnat_abstractResource_tag_3_COUNTER in [0..$xnat_abstractResource_tag_3_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag[$xnat_abstractResource_tag_3_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag")</TD></TR>
																						<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/file -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/note")</TD></TR>
																<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/label")</TD></TR>
																<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/file_count")</TD></TR>
																<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/file_size")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag").size() - 1)
																#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
																	#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																						<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/baseimage -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_regionResource_label_6_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label").size() - 1)
													#if($xnat_regionResource_label_6_NUM_ROWS>=0)
														#foreach($xnat_regionResource_label_6_COUNTER in [0..$xnat_regionResource_label_6_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER]/label")</TD></TR>
																			<TR><TD>id</TD><TD>$!item.getProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER]/id")</TD></TR>
																			<TR><TD>hemisphere</TD><TD>$!item.getStringProperty("xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER]/hemisphere")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER]/subregionlabels/label[$xnat_regionResource_label_6_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/regions/region[$xnat_regionResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_imageScanData_7_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/scans/scan").size() - 1)
							#if($xnat_imageScanData_7_NUM_ROWS>=0)
								#foreach($xnat_imageScanData_7_COUNTER in [0..$xnat_imageScanData_7_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>image_session_ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/image_session_ID")</TD></TR>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/note")</TD></TR>
													<TR><TD>quality</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/quality")</TD></TR>
													<TR><TD>condition</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/condition")</TD></TR>
													<TR><TD>series_description</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/series_description")</TD></TR>
													<TR><TD>documentation</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/documentation")</TD></TR>
													<TR><TD>scanner</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/scanner")</TD></TR>
													<TR><TD>scanner/manufacturer</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/scanner/manufacturer")</TD></TR>
													<TR><TD>scanner/model</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/scanner/model")</TD></TR>
													<TR><TD>modality</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/modality")</TD></TR>
													<TR><TD>frames</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/frames")</TD></TR>
													<TR><TD>operator</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/operator")</TD></TR>
													<TR><TD>startTime</TD><TD>$!item.getProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/startTime")</TD></TR>
													<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/ID")</TD></TR>
													<TR><TD>type</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/type")</TD></TR>
													<TR><TD>UID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/UID")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/project")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_imageScanData_share_8_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share").size() - 1)
													#if($xnat_imageScanData_share_8_NUM_ROWS>=0)
														#foreach($xnat_imageScanData_share_8_COUNTER in [0..$xnat_imageScanData_share_8_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER]/share")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER]/label")</TD></TR>
																			<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER]/project")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/sharing/share[$xnat_imageScanData_share_8_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_9_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file").size() - 1)
													#if($xnat_abstractResource_9_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_9_COUNTER in [0..$xnat_abstractResource_9_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_10_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_10_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_10_COUNTER in [0..$xnat_abstractResource_tag_10_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/file[$xnat_abstractResource_9_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation/method")</TD></TR>
																<TR><TD>date</TD><TD>$!item.getProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation/date")</TD></TR>
																<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation/notes")</TD></TR>
																<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation/validated_by")</TD></TR>
																<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation/status")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER]/validation -->
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/scans/scan[$xnat_imageScanData_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_reconstructedImageData_12_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage").size() - 1)
							#if($xnat_reconstructedImageData_12_NUM_ROWS>=0)
								#foreach($xnat_reconstructedImageData_12_COUNTER in [0..$xnat_reconstructedImageData_12_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>image_session_ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/image_session_ID")</TD></TR>
													<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/ID")</TD></TR>
													<TR><TD>type</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/type")</TD></TR>
													<TR><TD>baseScanType</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/baseScanType")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_reconstructedImageData_scanID_13_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/inScans/scanID").size() - 1)
													#if($xnat_reconstructedImageData_scanID_13_NUM_ROWS>=0)
														#foreach($xnat_reconstructedImageData_scanID_13_COUNTER in [0..$xnat_reconstructedImageData_scanID_13_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/inScans/scanID[$xnat_reconstructedImageData_scanID_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/inScans/scanID[$xnat_reconstructedImageData_scanID_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>scanID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/inScans/scanID[$xnat_reconstructedImageData_scanID_13_COUNTER]/scanID")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/inScans/scanID[$xnat_reconstructedImageData_scanID_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_14_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file").size() - 1)
													#if($xnat_abstractResource_14_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_14_COUNTER in [0..$xnat_abstractResource_14_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_15_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_15_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_15_COUNTER in [0..$xnat_abstractResource_tag_15_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag[$xnat_abstractResource_tag_15_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag[$xnat_abstractResource_tag_15_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag[$xnat_abstractResource_tag_15_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag[$xnat_abstractResource_tag_15_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER]/tags/tag[$xnat_abstractResource_tag_15_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/in/file[$xnat_abstractResource_14_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_16_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file").size() - 1)
													#if($xnat_abstractResource_16_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_16_COUNTER in [0..$xnat_abstractResource_16_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_17_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_17_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_17_COUNTER in [0..$xnat_abstractResource_tag_17_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag[$xnat_abstractResource_tag_17_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag[$xnat_abstractResource_tag_17_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag[$xnat_abstractResource_tag_17_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag[$xnat_abstractResource_tag_17_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER]/tags/tag[$xnat_abstractResource_tag_17_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/out/file[$xnat_abstractResource_16_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_19_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep").size() - 1)
																#if($prov_processStep_19_NUM_ROWS>=0)
																	#foreach($prov_processStep_19_COUNTER in [0..$prov_processStep_19_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>program</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/program")</TD></TR>
																						<TR><TD>program/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/program/version")</TD></TR>
																						<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/program/arguments")</TD></TR>
																						<TR><TD>timestamp</TD><TD>$!item.getProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/timestamp")</TD></TR>
																						<TR><TD>cvs</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/cvs")</TD></TR>
																						<TR><TD>user</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/user")</TD></TR>
																						<TR><TD>machine</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/machine")</TD></TR>
																						<TR><TD>platform</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/platform")</TD></TR>
																						<TR><TD>platform/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/platform/version")</TD></TR>
																						<TR><TD>compiler</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/compiler")</TD></TR>
																						<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/compiler/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE><TR><TD>
																						#set($prov_processStep_library_20_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library").size() - 1)
																						#if($prov_processStep_library_20_NUM_ROWS>=0)
																							#foreach($prov_processStep_library_20_COUNTER in [0..$prov_processStep_library_20_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library[$prov_processStep_library_20_COUNTER] -->
																								<TABLE>
																									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library[$prov_processStep_library_20_COUNTER]</font></TH></TR>
																									<TR>
																										<TD align="left" valign="top">
																											<TABLE>
																												<TR><TD>library</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library[$prov_processStep_library_20_COUNTER]/library")</TD></TR>
																												<TR><TD>version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library[$prov_processStep_library_20_COUNTER]/version")</TD></TR>
																											</TABLE>
																										</TD>
																									</TR>
																								</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER]/library[$prov_processStep_library_20_COUNTER] -->
																							#end
																						#end
																					</TD></TR></TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance/processStep[$prov_processStep_19_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/provenance -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_addField_21_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam").size() - 1)
													#if($xnat_addField_21_NUM_ROWS>=0)
														#foreach($xnat_addField_21_COUNTER in [0..$xnat_addField_21_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam[$xnat_addField_21_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam[$xnat_addField_21_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>addField</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam[$xnat_addField_21_COUNTER]/addField")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam[$xnat_addField_21_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/parameters/addParam[$xnat_addField_21_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_computationData_22_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum").size() - 1)
													#if($xnat_computationData_22_NUM_ROWS>=0)
														#foreach($xnat_computationData_22_COUNTER in [0..$xnat_computationData_22_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER]/name")</TD></TR>
																			<TR><TD>value</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER]/value")</TD></TR>
																			<TR><TD>source</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER]/source")</TD></TR>
																			<TR><TD>units</TD><TD>$!item.getStringProperty("xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER]/units")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER]/computations/datum[$xnat_computationData_22_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/reconstructions/reconstructedImage[$xnat_reconstructedImageData_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_imageAssessorData_23_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor").size() - 1)
							#if($xnat_imageAssessorData_23_NUM_ROWS>=0)
								#foreach($xnat_imageAssessorData_23_COUNTER in [0..$xnat_imageAssessorData_23_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>date</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/date")</TD></TR>
													<TR><TD>time</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/time")</TD></TR>
													<TR><TD>duration</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/duration")</TD></TR>
													<TR><TD>delay</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/delay")</TD></TR>
													<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/delay/ref_expt_id")</TD></TR>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/note")</TD></TR>
													<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/acquisition_site")</TD></TR>
													<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/ID")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/project")</TD></TR>
													<TR><TD>visit_id</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/visit_id")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/visit")</TD></TR>
													<TR><TD>version</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/version")</TD></TR>
													<TR><TD>original</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/original")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/protocol")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/label")</TD></TR>
													<TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/imageSession_ID")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_25_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep").size() - 1)
																#if($prov_processStep_25_NUM_ROWS>=0)
																	#foreach($prov_processStep_25_COUNTER in [0..$prov_processStep_25_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>program</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/program")</TD></TR>
																						<TR><TD>program/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/program/version")</TD></TR>
																						<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/program/arguments")</TD></TR>
																						<TR><TD>timestamp</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/timestamp")</TD></TR>
																						<TR><TD>cvs</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/cvs")</TD></TR>
																						<TR><TD>user</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/user")</TD></TR>
																						<TR><TD>machine</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/machine")</TD></TR>
																						<TR><TD>platform</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/platform")</TD></TR>
																						<TR><TD>platform/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/platform/version")</TD></TR>
																						<TR><TD>compiler</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/compiler")</TD></TR>
																						<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/compiler/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE><TR><TD>
																						#set($prov_processStep_library_26_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library").size() - 1)
																						#if($prov_processStep_library_26_NUM_ROWS>=0)
																							#foreach($prov_processStep_library_26_COUNTER in [0..$prov_processStep_library_26_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library[$prov_processStep_library_26_COUNTER] -->
																								<TABLE>
																									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library[$prov_processStep_library_26_COUNTER]</font></TH></TR>
																									<TR>
																										<TD align="left" valign="top">
																											<TABLE>
																												<TR><TD>library</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library[$prov_processStep_library_26_COUNTER]/library")</TD></TR>
																												<TR><TD>version</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library[$prov_processStep_library_26_COUNTER]/version")</TD></TR>
																											</TABLE>
																										</TD>
																									</TR>
																								</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER]/library[$prov_processStep_library_26_COUNTER] -->
																							#end
																						#end
																					</TD></TR></TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance/processStep[$prov_processStep_25_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/provenance -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_experimentData_share_27_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share").size() - 1)
													#if($xnat_experimentData_share_27_NUM_ROWS>=0)
														#foreach($xnat_experimentData_share_27_COUNTER in [0..$xnat_experimentData_share_27_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]/share")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]/label")</TD></TR>
																			<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]/project")</TD></TR>
																			<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]/visit")</TD></TR>
																			<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER]/protocol")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/sharing/share[$xnat_experimentData_share_27_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>title</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/title")</TD></TR>
																<TR><TD>firstname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/firstname")</TD></TR>
																<TR><TD>lastname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/lastname")</TD></TR>
																<TR><TD>institution</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/institution")</TD></TR>
																<TR><TD>department</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/department")</TD></TR>
																<TR><TD>email</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/email")</TD></TR>
																<TR><TD>phone</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/phone")</TD></TR>
																<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator/ID")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/investigator -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation/method")</TD></TR>
																<TR><TD>date</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation/date")</TD></TR>
																<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation/notes")</TD></TR>
																<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation/validated_by")</TD></TR>
																<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation/status")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/validation -->
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_30_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource").size() - 1)
													#if($xnat_abstractResource_30_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_30_COUNTER in [0..$xnat_abstractResource_30_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_31_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_31_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_31_COUNTER in [0..$xnat_abstractResource_tag_31_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag[$xnat_abstractResource_tag_31_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag[$xnat_abstractResource_tag_31_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag[$xnat_abstractResource_tag_31_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag[$xnat_abstractResource_tag_31_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER]/tags/tag[$xnat_abstractResource_tag_31_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/resources/resource[$xnat_abstractResource_30_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_experimentData_field_32_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field").size() - 1)
													#if($xnat_experimentData_field_32_NUM_ROWS>=0)
														#foreach($xnat_experimentData_field_32_COUNTER in [0..$xnat_experimentData_field_32_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field[$xnat_experimentData_field_32_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field[$xnat_experimentData_field_32_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>field</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field[$xnat_experimentData_field_32_COUNTER]/field")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field[$xnat_experimentData_field_32_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/fields/field[$xnat_experimentData_field_32_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_33_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file").size() - 1)
													#if($xnat_abstractResource_33_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_33_COUNTER in [0..$xnat_abstractResource_33_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_34_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_34_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_34_COUNTER in [0..$xnat_abstractResource_tag_34_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag[$xnat_abstractResource_tag_34_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag[$xnat_abstractResource_tag_34_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag[$xnat_abstractResource_tag_34_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag[$xnat_abstractResource_tag_34_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER]/tags/tag[$xnat_abstractResource_tag_34_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/in/file[$xnat_abstractResource_33_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_35_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file").size() - 1)
													#if($xnat_abstractResource_35_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_35_COUNTER in [0..$xnat_abstractResource_35_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/note")</TD></TR>
																			<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/label")</TD></TR>
																			<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/file_count")</TD></TR>
																			<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/file_size")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($xnat_abstractResource_tag_36_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag").size() - 1)
																			#if($xnat_abstractResource_tag_36_NUM_ROWS>=0)
																				#foreach($xnat_abstractResource_tag_36_COUNTER in [0..$xnat_abstractResource_tag_36_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag[$xnat_abstractResource_tag_36_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag[$xnat_abstractResource_tag_36_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag[$xnat_abstractResource_tag_36_COUNTER]/tag")</TD></TR>
																									<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag[$xnat_abstractResource_tag_36_COUNTER]/name")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER]/tags/tag[$xnat_abstractResource_tag_36_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/out/file[$xnat_abstractResource_35_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_addField_37_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam").size() - 1)
													#if($xnat_addField_37_NUM_ROWS>=0)
														#foreach($xnat_addField_37_COUNTER in [0..$xnat_addField_37_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam[$xnat_addField_37_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam[$xnat_addField_37_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>addField</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam[$xnat_addField_37_COUNTER]/addField")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam[$xnat_addField_37_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER]/parameters/addParam[$xnat_addField_37_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/assessors/assessor[$xnat_imageAssessorData_23_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_38_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_38_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_38_COUNTER in [0..$xnat_experimentData_share_38_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/sharing/share[$xnat_experimentData_share_38_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:rgSessionData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:rgSessionData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:rgSessionData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:rgSessionData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat:rgSessionData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:rgSessionData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:rgSessionData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:rgSessionData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:rgSessionData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_41_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/resources/resource").size() - 1)
							#if($xnat_abstractResource_41_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_41_COUNTER in [0..$xnat_abstractResource_41_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_42_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_42_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_42_COUNTER in [0..$xnat_abstractResource_tag_42_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag[$xnat_abstractResource_tag_42_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag[$xnat_abstractResource_tag_42_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag[$xnat_abstractResource_tag_42_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag[$xnat_abstractResource_tag_42_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER]/tags/tag[$xnat_abstractResource_tag_42_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/resources/resource[$xnat_abstractResource_41_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_43_NUM_ROWS=$item.getChildItems("xnat:rgSessionData/fields/field").size() - 1)
							#if($xnat_experimentData_field_43_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_43_COUNTER in [0..$xnat_experimentData_field_43_NUM_ROWS])
<!-- BEGIN xnat:rgSessionData/fields/field[$xnat_experimentData_field_43_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:rgSessionData/fields/field[$xnat_experimentData_field_43_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("xnat:rgSessionData/fields/field[$xnat_experimentData_field_43_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:rgSessionData/fields/field[$xnat_experimentData_field_43_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:rgSessionData/fields/field[$xnat_experimentData_field_43_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:rgSessionData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
